*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type:none;
}

body{
    width: 90%;
    margin-right:auto;
    margin-left:auto;
    font-family:Arial;
    margin-top:30px;
}
.heading{
    margin:10px 0;
}

.search-section {
    background-color: hsl(199, 81%, 40%);
    padding:10px;
}

#search {
    width:100%;
    padding:12px 20px;
    border:none;
}

.user-list-section {
    margin-top:20px;
}

li {
    border:1px solid hsl(0, 4%, 50%);
    margin-top:-1px;  /*to prevent double top-border overlapping from the next rank child element */
    background-color: #f6f6f6; 
    font-size:18px;
    text-transform:capitalize;
    padding: 12px;
}

li:hover {
    background-color: hsl(0, 4%, 85%);
}

/* pill button for username */

.username {
    background-color:hsl(199, 81%, 40%);
    color:white;
    font-size:14px;
    padding:6px;
    border-radius: 5px;;
}

/* MEDIA QUERY SECTION */

@media  (min-width:1000px) {
    body{
        width:50%;
    }

    li{
        font-size:14px;
    }
}